@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <!-- Get to know Joel Page with a tags for links on both words and on photos.-->
<div class="text-center">
    <h1>Get to know Joel.</h1>
    <h4>Joel is a comedian he performs regularly at Quick Wits Comedy, to check it out, click the link below:</h4>
   
    <a href="https://www.qwcomedy.com/">Link</a>
    <br />
    
    <h4>He is also on the widely known and loved podcast "BaconSale" to check it out click on the link or the picture below:</h4>
    <a href="https://baconsale.com/">Link</a>
    <br />
    <a href="https://baconsale.com/">
        <img src="~/img/BaconsaleKate.jpg" height="500px" />
    </a>
</div>
